<p>Bonjour,</p>

<p>Vous avez demandé la suppression de votre adresse email de nos newsletters pour : <u>'{{email}}'</u></p>
<p>Si vous n'êtes pas à l'origine de cette demande, veuillez supprimer ce message !!!</p>
<p>Sinon pour CONFIRMER LA SUPPRESSION <u>DEFINITIVE</u> : <a href='{{ url_unsubscribe_confirm }}'>CLIQUEZ SUR CE LIEN</a>.</p>

<p>Bien cordialement,</p>
<p>{{ config.association.mail.signature }}</p>