<p>Bonjour,</p>

<p><a href='{{ url_subscribe_confirm }}'>Cliquer sur ce lien</a> pour confirmer votre inscription à la newsletter.</p>
<br>
<p><b>IMPORTANT</b> : Pour nous écrire, veuillez utiliser notre formulaire en ligne :  <a href="{{ config.association.urlformcontact }}">{{ config.association.urlformcontact }}</a>.</p>
<p>Ce courriel vous est envoyé automatiquement, merci de ne pas utiliser la fonction "répondre à l'expéditeur".</p>
<p>Nous vous remercions de votre confiance.</p>

<p>Cordialement,</p>
<p>{{ config.association.mail.signature }}.</p>

